<div class="container">
  <form class="text-center p-5 mx-auto w-50 mt-3" action="#!">
    <p class="h4 mb-4">Sign up</p>
    <div class="form-row mb-4">
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="First name"
          [(ngModel)]="firstName"
          name="firstName"
        />
      </div>
      <div class="col">
        <input
          type="text"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Last name"
          [(ngModel)]="lastName"
          name="lastName"
        />
      </div>
    </div>
    <input
      type="email"
      id="defaultRegisterFormEmail"
      class="form-control mb-4"
      placeholder="E-mail"
      [(ngModel)]="email"
      name="lastName"
    />
    <input
      type="password"
      id="defaultRegisterFormPassword"
      class="form-control"
      placeholder="Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock"
      [(ngModel)]="password"
      name="password"
    />
    <small
      id="defaultRegisterFormPasswordHelpBlock"
      class="form-text text-muted mb-4"
    >
      At least 8 characters and 1 digit
    </small>
    <input
      type="number"
      id="defaultRegisterPhonePassword"
      class="form-control"
      placeholder="Phone number"
      aria-describedby="defaultRegisterFormPhoneHelpBlock"
      [(ngModel)]="phoneNumber"
      name="phoneNumber"
    />
    <small
      id="defaultRegisterFormPhoneHelpBlock"
      class="form-text text-muted mb-4"
    >
      Optional - for two step authentication
    </small>
    <div class="custom-control custom-checkbox">
      <input
        type="checkbox"
        class="custom-control-input"
        id="defaultRegisterFormNewsletter"
      />
      <label class="custom-control-label" for="defaultRegisterFormNewsletter"
        >Subscribe to our newsletter</label
      >
    </div>
    <button class="btn btn-info my-4 btn-block cyan" type="submit" (click)= "submitRegiser()">
      Sign in
    </button>
    <p>
      By clicking <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>
    </p>
  </form>

</div>
