<div class="container-fluid">
  <div class="row no-gutters table-responsive-xl table-container">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Role Name</th>
          <th scope="col">Permissions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading">
        <tr *ngFor="let role of lsRoles">
          <td scope="col" class="align-middle">
            {{ role.name }}
          </td>
          <td scope="col">
            <div class="row mx-2">
              describe this role...
            </div>
          </td>
          <td style="width:7%">
            <div class="row cursor-pointer" (click)="addPermissionPopup(role)">
              <i class="fas fa-pencil-alt text-success mx-auto" aria-hidden="true"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <loading class="mx-auto" *ngIf="isLoading"></loading>
</div>
