user-admin {
  .btn {
    padding: 3px 12px;
    border-radius: 10%;
  }
  td {
    padding: 6px 6px 3px 6px;
  }
  pagination-controls {
    display: flex;
    align-items: center;
  }
  .field-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .no-pointer {
    pointer-events: none;
  }
}
