html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  font-size: $font-default;
  color: $black;
  background-image: url(../assets/img/bgr4.jpg);
  app-root {
  }
  .cursor-pointer {
    cursor: pointer;
  }

  .text-h2 {
    color: #353535;
    font-size: 18px;
    font-weight: 500;
  }
  .btn-16 {
  }
  .btn-long {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
  }
  .navText {
    :hover {
      border-bottom: 1px #353535;
    }
  }
}
