html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  font-size: $font-default;
  color: $black;
  background-image: url(../assets/img/bgr4.jpg);
  app-root {
  }
  .cursor-pointer{
    cursor: pointer;
  }
}
