$black: #212121;
$blue: #14B1E7;
$gray-light: #A6A6A6;
$gray-lighter:#ECEEEF;
$gray-lightest: #F6F7F8;
$gray: #464A4C;
$green: #8BC34A;
$orange: #FF9800;
$pink: #F691B2;
$purple: #494795;
$red: #F44336;
$smoke: #A7B0B5;
$white: #FFFFFF;
$yellow: #ffe484;
$dark-blue: #22264e;
$indian-red: #e2574c;
$indian-red-light: #ec685f;
$light-dark-blue: lighten(#22264e, 10%);
$violet-red: #d62668;
$font-family: 'Inter', 'Muli',
sans-serif;
$font-default: 1rem;

$color-disabled: #e3e5e8;

$top-menu-height: 78px;
$top-small-height: 60px;
$menu-transion-duration: 0.5s;

$overlay-index: 1000;