<!-- Default form login -->
<div class="container">
  <form class="text-center p-5 mx-auto w-50 mt-3" action="#!">
    <p class="h4 mb-4">Regist Client Detail</p>
    <input
      type="text"
      id="defaultLoginFormEmail"
      class="form-control mb-4"
      placeholder="Client Id"
      [(ngModel)]="clientId"
      name="clientId"
    />

    <input
      type="text"
      id="defaultLoginFormPassword"
      class="form-control mb-4"
      placeholder="Redirect Uri"
      [(ngModel)]="redirectUri"
      name="redirectUri"
    />
    <button
      class="btn btn-info btn-block my-4 cyan"
      type="submit"
      (click)="submitRegister()"
    >
      Submit
    </button>
  </form>
    <div *ngIf="isView">
      <h5>Register successfully!</h5>
      <p>Client Id: {{ clientDetail.clientId }}</p>
      <p>Client Secret: {{ clientDetail.clientSecret }}</p>
      <p>Redirect Uri: {{ clientDetail.redirectUri }}</p>
    </div>
</div>
