<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-2 shadow p-3 mb-5 bg-white">
      <div class="profile-work my-3">
        <h5 class="font-weight-bold text-black">Account</h5>
        <p (click)="typeSelect = 1" [class.selected-item]="typeSelect == 1">
          <i class="fa fa-user" aria-hidden="true"></i> Role
        </p>
        <p (click)="typeSelect = 2" [class.selected-item]="typeSelect == 2">
          <i class="fab fa-500px" aria-hidden="true"></i> API Approve
        </p>
        <p (click)="typeSelect = 3" [class.selected-item]="typeSelect == 3">
          <i class="fab fa-500px" aria-hidden="true"></i> User
        </p>
        <hr style="border-top: 1px solid rgba(235, 233, 233, 0.1)" />
        <h5 class="font-weight-bold text-black">Configure</h5>
        <p (click)="typeSelect = 4" [class.selected-item]="typeSelect == 4">
          <i class="fas fa-box" aria-hidden="true"></i> API key
        </p>
      </div>
    </div>
    <div class="col-md-10 py-4 px-4">
      <app-swagger-ui *ngIf="typeSelect == 4"></app-swagger-ui>
      <div *ngIf="typeSelect == 1">
        <role-admin></role-admin>
      </div>
      <div *ngIf="typeSelect == 3">
        <user-admin></user-admin>
      </div>
    </div>
  </div>
</div>
