<h3 class="font-weight-bold mb-md-3">Regist Client Detail</h3>
<hr />
<div class="row my-2">
  <div class="col-md-2 m-auto">Client Id <span class="text-danger">*</span></div>
  <div class="col-md-10">
    <input
      type="text"
      id="defaultLoginFormEmail"
      class="form-control"
      placeholder="Client Id"
      [(ngModel)]="clientId"
      name="clientId"
    />
  </div>
</div>
<div class="row my-2">
  <div class="col-md-2 m-auto">Redirect Uri  <span class="text-danger">*</span></div>
  <div class="col-md-10">
    <input
      type="text"
      id="defaultLoginFormPassword"
      class="form-control"
      placeholder="Redirect Uri"
      [(ngModel)]="redirectUri"
      name="redirectUri"
    />
  </div>
</div>
<div class="row my-2">
    <div class="custom-control custom-switch mx-3">
        <input type="checkbox" class="custom-control-input" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Toggle this switch element</label>
      </div>
</div>
<div class="row my-2">
  <div class="col-md-6 mx-auto">
    <button
      class="profile-edit-btn"
      type="submit"
      (click)="submitRegister()"
    >
      Submit
    </button>
  </div>
</div>
