<h3 class="font-weight-bold mb-md-3" style="border-bottom: 1px solid gray">
  Manage Your Client
</h3>
<div class="row">
  <div class="col-md-2 border-client">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            Client Id
            <i class="fa fa-sort mx-2" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let client of clients; index as i"
          class="cursor-pointer"
          (click)="getItemClient(i)"
          [class.bg-selected]="i == indexDefault"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ client.clientId }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md">
    <div class="row m-1 h3 font-weight-bold">Overview</div>
    <div class="row m-2 border-group py-3">
      <div class="col-12">
        <div class="row">
          <div class="col-md-3 font-weight-bold">Client Id</div>
          <div class="col-md-9 text-muted font-weight-bold">
            {{ clients[indexDefault].clientId }}
          </div>
        </div>
        <hr />
        <div class="row" *ngIf="!editRedirectClick">
          <div class="col-md-3 font-weight-bold">Redirect Uri</div>
          <div class="col-md-7 text-muted">
            <ng-container
              *ngFor="let redirectUri of clients[indexDefault].redirectUri"
            >
              {{ redirectUri }}<br />
            </ng-container>
          </div>
          <div
            class="col-md-auto ml-auto mr-2 font-weight-bold cursor-pointer edit-item"
            (click)="editRedirectClick = true"
          >
            <i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit
            <i class="arrow right"></i>
          </div>
        </div>

        <div *ngIf="editRedirectClick">
          <div class="row">
            <div class="col-md-3 font-weight-bold">Redirect Uri</div>
            <div class="col-md-1 my-2">
              <span class="text-muted cursor-pointer">
                <i class="fa fa-plus text-success fa-lg"></i>
              </span>
            </div>
            <div class="col-md-8 text-muted">
              <div
                *ngFor="
                  let redirectUri of clients[indexDefault].redirectUri;
                  index as i
                "
                id="redirectUri_{{ i }}"
              >
                <div class="row">
                  <input
                    id="redirectUri_{{ i }}"
                    [ngModel]="redirectUri"
                    type="text"
                    class="form-control mb-2 col-md-10"
                    placeholder="Redirect Uri"
                  />
                  <div
                    class="cursor-pointer col-md-auto rectangle mx-auto"
                    id="delRedirectUri_{{ i }}"
                  >
                    <span class="text-muted" id="delRedirectUri_{{ i }}">
                      <i
                        class="fa fa-minus text-danger fa-lg"
                        id="delRedirectUri_{{ i }}"
                      ></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto ml-auto">
              <button
                class="profile-edit-btn mx-2"
                (click)="editRedirectClick = false"
              >
                Cancel
              </button>
              <button class="profile-edit-btn">Save</button>
            </div>
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-md-3 font-weight-bold">Scopes</div>
          <div class="col-md-7 text-muted">
            <ng-container *ngFor="let scope of clients[indexDefault].scope">
              {{ scope }}<br />
            </ng-container>
          </div>
          <div
            class="col-md-auto ml-auto mr-2 font-weight-bold cursor-pointer edit-item"
          >
            <i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit
            <i class="arrow right"></i>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-md-3 font-weight-bold">Authorization Grant Type</div>
          <div class="col-md-9 text-muted">
            <ng-container
              *ngFor="let authorize of clients[indexDefault].authorizeGrantType"
            >
              {{ authorize }}<br />
            </ng-container>
          </div>
        </div>

        <hr />
        <div class="row">
          <div class="col-md-3 font-weight-bold">Template Login</div>
          <div class="col-md-7 text-muted">Default</div>
          <div
            class="col-md-auto ml-auto mr-2 font-weight-bold cursor-pointer edit-item"
          >
            <i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit
            <i class="arrow right"></i>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-3 font-weight-bold">Created At</div>
          <div class="col-md-9 text-muted">
            {{ clients[indexDefault].createdAt | date: "MMMM d, y, h:mm:ss a" }}
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="row m-1 h3 font-weight-bold">Security</div>
    <div class="row m-2 border-group py-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 font-weight-bold">Update Client Secret</div>
          <div class="col-md-7 text-muted">Write down something here!!</div>
          <div
            class="col-md-auto ml-auto mr-2 font-weight-bold cursor-pointer edit-item"
          >
            <i class="fas fa-pencil-alt" aria-hidden="true"></i> Edit
            <i class="arrow right"></i>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 font-weight-bold">Remove</div>
          <div class="col-md-7 text-muted">Remove this client!!</div>
          <div
          class="col-md-auto ml-auto mr-2 font-weight-bold cursor-pointer edit-item"
        >
          <i class="fas fa-pencil-alt" aria-hidden="true"></i> Remove
          <i class="arrow right"></i>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        Client Id
        <i class="fa fa-sort mx-2" aria-hidden="true"></i>
      </th>
      <th scope="col">Redirects Uri</th>
      <th scope="col">Scope</th>
      <th scope="col">Authorize Grant Type</th>
      <th scope="col">Create At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let client of clients; index as i"
      class="cursor-pointer"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ client.clientId }}</td>
      <td>{{ client.redirectUri }}</td>
      <td>{{ client.scope }}</td>
      <td>{{ client.authorizeGrantType }}</td>
      <td>
        {{ client.createdAt | date: "MMM d, y, h:mm:ss a" }}
      </td>
      <td>
        <button class="btn btn-sm btn-success mx-1">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-sm btn-danger mx-1">
          <i class="fa fa-trash"></i>
        </button>
        <ng-template #isDelete>
        <div class="modal-body text-center">
          <p>Are you sure to delete this course?</p>
          <button type="button" class="btn btn-default" (click)="deleteCourse(course._id)">Yes</button>
          <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
        </div>
      </ng-template>
      </td>
    </tr>
  </tbody>
</table> -->
