<h3 class="font-weight-bold mb-md-3">Change Password</h3>
<hr />
<div class="tab-content profile-tab container" id="myTabContent">
  <div class="row">
    <div class="col-md-2 m-auto font-weight-bold">Username</div>
    <div class="col-md-10">
      <input
        type="text"
        class="form-control"
        name="clientId"
        value="{{ username }}"
        disabled
      />
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-2 m-auto font-weight-bold">
      Current Password <span class="text-danger">*</span>
    </div>
    <div class="col-md-10">
      <input
        type="password"
        class="form-control"
        name="currentPassword"
        [(ngModel)]="currentPassword"
        [class.error-field]="!currentPassword && !isValid"
      />
      <div *ngIf="!currentPassword && !isValid" class="invalid-tooltip">
        This fill is required.
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-2 m-auto font-weight-bold">
      New Password <span class="text-danger">*</span>
    </div>
    <div class="col-md-10">
      <input
        type="password"
        class="form-control"
        name="newPassword"
        [(ngModel)]="newPassword"
        [class.error-field]="
          (!newPassword && !isValid) ||
          (newPassword == currentPassword && !isValid)
        "
      />
      <div *ngIf="!newPassword && !isValid" class="invalid-tooltip">
        This fill is required.
      </div>
      <div
        *ngIf="newPassword == currentPassword && !isValid"
        class="invalid-tooltip"
      >
        New password was duplicated
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2"></div>
    <div class="col md-10">
      <password-strength-bar [passwordToCheck]="newPassword">
      </password-strength-bar>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-2 m-auto font-weight-bold">
      Confirm Password <span class="text-danger">*</span>
    </div>
    <div class="col-md-10">
      <input
        type="password"
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        [class.error-field.mb-5]="
          (!confirmPassword && !isValid) ||
          (!isValid && confirmPassword != newPassword)
        "
      />

      <div *ngIf="!confirmPassword && !isValid" class="invalid-tooltip">
        This fill is required.
      </div>
      <div
        *ngIf="!isValid && confirmPassword != newPassword"
        class="invalid-tooltip"
      >
        Incorrect confirm password.
      </div>
    </div>
  </div>

  <div class="row mt-md-3">
    <div class="col-md-auto mx-auto">
      <button class="profile-edit-btn" (click)="changePassword()">Save</button>
    </div>
  </div>
</div>
